body {
  text-align: center;
  center: horizontal;
  font-family: helvetica;
}

h1 {
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.title {
  font-family: helvetica;
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.process {
  background-color: white;
}

p.process {
  font-family: helvetica;
  font-size: 14px;
}

h2 {
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h3 {
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
}

.portfolio {
  background-color: white;
}

.foot {
  background-color: dimgrey;
  font-family: helvetica;
  font-size: 11px;
  color: white;
  text-align: left;
}
